{% comment %} Source: GardenYX_Eshop_Obchodne_Podmienky_SK.docx {% endcomment %}
<p><b>GARDENYX</b></p>
<p><b>Obchodné podmienky</b></p>
<p><i>E-shop (gardenyx.eu)</i></p>
<p>Dátum účinnosti: 6. marca 2026</p>
<p><b>1. Všeobecné ustanovenia</b></p>
<p>Tieto Obchodné podmienky („Podmienky“) upravujú používanie internetového obchodu na gardenyx.eu („E-shop“) a nákup produktov ponúkaných prostredníctvom neho. E-shop prevádzkuje spoločnosť JOINA Garden, s. r. o., so sídlom Karpatské námestie 7770/10A, Bratislava – mestská časť Rača 831 06, Slovenská republika, IČO: 57 313 504 („Predávajúci“, „my“).</p>
<p>Odoslaním objednávky cez E-shop vy („Kupujúci“) súhlasíte s týmito Podmienkami. Prečítajte si ich pozorne pred uskutočnením nákupu.</p>
<p><b>2. Produkty</b></p>
<p>E-shop ponúka rastlinné hnojivá a súvisiace záhradnícke produkty („Produkty“). Všetky Produkty sú popísané s ich kľúčovými charakteristikami, zložením, návodom na použitie a cenou na príslušných produktových stránkach.</p>
<p>Obrázky produktov sú ilustračné a môžu sa mierne líšiť od skutočného produktu.</p>
<p><b>3. Objednávanie a uzavretie zmluvy</b></p>
<p><b>3.1 Zadanie objednávky</b></p>
<p>Na zadanie objednávky vyberte požadované Produkty, pridajte ich do košíka, zadajte požadované dodacie a fakturačné údaje, zvoľte spôsob platby a potvrďte objednávku.</p>
<p>Odoslaním objednávky uskutočníte záväzný návrh na kúpu vybraných Produktov. Prijatie objednávky potvrdíme e-mailom („Potvrdenie objednávky“). Kúpna zmluva je uzavretá odoslaním Produktov a zaslaním potvrdenia o odoslaní.</p>
<p><b>3.2 Odmietnutie objednávky</b></p>
<p>Vyhradzujeme si právo odmietnuť alebo zrušiť akúkoľvek objednávku, ak Produkty nie sú dostupné, ak došlo k chybe v cene alebo popise, alebo ak máme podozrenie z podvodného konania. V takých prípadoch vás budeme informovať a vrátime vám celú platbu.</p>
<p><b>4. Ceny a platby</b></p>
<p><b>4.1 Ceny</b></p>
<p>Všetky ceny zobrazené v E-shope zahŕňajú daň z pridanej hodnoty (DPH), pokiaľ nie je uvedené inak. Náklady na dodanie sa vypočítajú a zobrazia osobitne pred potvrdením objednávky.</p>
<p><b>4.2 Spôsoby platby</b></p>
<p>Akceptujeme spôsoby platby uvedené v E-shope v čase nákupu. Platba je splatná pri zadaní objednávky. Všetky platby spracovávajú bezpeční poskytovatelia platobných služieb.</p>
<p><b>4.3 Fakturácia</b></p>
<p>Faktúru s DPH vám zašleme elektronicky po odoslaní objednávky. Faktúra slúži ako doklad o kúpe a je potrebná pre reklamácie.</p>
<p><b>5. Dodanie</b></p>
<p><b>5.1 Oblasť dodania</b></p>
<p>Doručujeme do krajín uvedených v E-shope. Oblasti dodania a poplatky za prepravu sa môžu meniť bez predchádzajúceho upozornenia.</p>
<p><b>5.2 Dodacie lehoty</b></p>
<p>Predpokladané dodacie lehoty sú zobrazené v E-shope a v Potvrdení objednávky. Dodacie lehoty sú orientačné a nie sú zaručené. Meškania môžu nastať z dôvodov mimo našej kontroly. O významných meškaniach vás budeme informovať.</p>
<p><b>5.3 Prechod nebezpečenstva</b></p>
<p>Pri spotrebiteľských nákupoch prechádza nebezpečenstvo straty alebo poškodenia Produktov na vás momentom dodania.</p>
<p><b>5.4 Kontrola pri prevzatí</b></p>
<p>Prosíme, skontrolujte Produkty pri prevzatí. Ak spozíte akékoľvek poškodenie balenia alebo Produktov, zaznamenajte to na dodací list a kontaktujte nás do 48 hodín na support@gardenyx.eu.</p>
<p><b>6. Právo na odstúpenie od zmluvy (spotrebiteľské nákupy)</b></p>
<p><b>6.1 14-dňová lehota na odstúpenie</b></p>
<p>Ak ste spotrebiteľ (fyzická osoba nakupujúca na osobné účely), máte právo odstúpiť od kúpnej zmluvy do 14 dní od prevzatia Produktov bez udania dôvodu, v súlade so smernicou EÚ 2011/83/EÚ a zákonom č. 102/2014 Z. z.</p>
<p><b>6.2 Ako odstúpiť</b></p>
<p>Na uplatnenie práva na odstúpenie zašlite jednoznačné vyhlásenie (napr. e-mailom na support@gardenyx.eu) pred uplynutím 14-dňovej lehoty. Môžete použiť formulár na odstúpenie dostupný na našej webovej stránke, nie je to však povinné.</p>
<p><b>6.3 Následky odstúpenia</b></p>
<p>Pri platnom odstúpení vám vrátime všetky prijaté platby vrátane štandardných nákladov na dodanie do 14 dní od prijatia vášho oznámenia o odstúpení. Vrátenie platieb môžeme pozdržať až do prevzatia vrátených Produktov alebo preukázania ich odoslania. Priame náklady na vrátenie Produktov znášate vy.</p>
<p><b>6.4 Výnimky</b></p>
<p>Právo na odstúpenie sa nevzťahuje na:</p>
<ul>
  <li>Produkty, ktoré boli otvorené a nemožno ich vrátiť z dôvodov hygieny alebo ochrany zdravia (napr. otvorené balenie hnojiva)</li>
  <li>Produkty, ktoré boli po dodaní neoddeliteľne zmiešané s inými položkami</li>
  <li>Produkty, ktoré rýchlo podliehajú kazeniu alebo majú krátku dobu exspirácie</li>
</ul>
<p><b>7. Záruka a reklamácie</b></p>
<p><b>7.1 Zákonná záruka</b></p>
<p>Všetky Produkty predávané spotrebiteľom majú zákonnú záručnú dobu 24 mesiacov od dátumu dodania podľa Občianskeho zákonníka a zákona č. 250/2007 Z. z. o ochrane spotrebiteľa.</p>
<p><b>7.2 Rozsah záruky</b></p>
<p>Záruka sa vzťahuje na vady materiálu, výroby alebo zloženia, ktoré existovali v čase dodania. Záruka sa nevzťahuje na vady spôsobené nesprávnym skladovaním, použitím v rozpore s návodom alebo bežným opotrebením.</p>
<p><b>7.3 Podanie reklamácie</b></p>
<p>Na podanie reklamácie nás kontaktujte na support@gardenyx.eu s číslom objednávky, popisom vady a prípadnými fotkami. Reklamáciu vybavíme do 30 dní od jej prijatia.</p>
<p><b>7.4 Nápravné prostriedky</b></p>
<p>V závislosti od povahy vady máte nárok na opravu, výmenu, primeranú zľavu z ceny alebo úplné vrátenie peňazí podľa príslušnej legislatívy na ochranu spotrebiteľa.</p>
<p><b>8. Bezpečnosť produktov a použitie</b></p>
<p>Rastlinné hnojivá a súvisiace produkty sa musia používať v súlade s pokynmi na etikete a obale. Nezodpovedáme za škody spôsobené nesprávnym použitím, skladovaním alebo aplikáciou Produktov.</p>
<p>Niektoré Produkty môžu byť klasifikované podľa nariadenia EÚ (ES) č. 1107/2009 alebo nariadenia (EÚ) 2019/1009. Kde je to relevantné, Produkty spĺňajú požiadavky príslušných kariet bezpečnostných údajov.</p>
<p>Všetky Produkty uchovávajte mimo dosahu detí a domácich zvierat.</p>
<p><b>9. Zákaznícky účet</b></p>
<p>V E-shope si môžete vytvoriť účet na uľahčenie budúcich nákupov. Ste zodpovední za zachovanie dôvernosti prihlasovacích údajov. Vyhradzujeme si právo pozastaviť alebo vymazať účty porušujúce tieto Podmienky.</p>
<p><b>10. Duševné vlastníctvo</b></p>
<p>Všetok obsah E-shopu vrátane popisov produktov, obrázkov, grafiky, log a ochranných známok je vlastníctvom alebo je licencovaný pre JOINA Garden, s. r. o. a je chránený príslušnými zákonmi o duševnom vlastníctve.</p>
<p><b>11. Obmedzenie zodpovednosti</b></p>
<p>V maximálnom rozsahu povolenom právnymi predpismi a bez obmedzenia vašich zákonných spotrebiteľských práv:</p>
<ul>
  <li>E-shop a jeho obsah sa poskytujú „tak, ako sú“ bez záruk nad rámec zákonných.</li>
  <li>Nezodpovedáme za nepriame, náhodné alebo následné škody z používania E-shopu alebo Produktov.</li>
  <li>Naša celková zodpovednosť nepresiahne sumu zaplatenú za Produkty, ktoré sú predmetom nároku.</li>
</ul>
<p>Nič v týchto Podmienkach nevylučuje našu zodpovednosť za úmrti alebo úraz spôsobený našou nedbalosťou, podvod alebo zodpovednosť, ktorú nie je možné vylúčiť podľa právnych predpisov.</p>
<p><b>12. Alternatívne riešenie sporov</b></p>
<p>Ak ste spotrebiteľ a nie ste spokojní s vybavením vašej reklamácie, máte právo podať návrh na alternatívne riešenie sporu Slovenskej obchodnej inšpekcii (SOI) alebo použiť platformu EÚ na riešenie sporov online na https://ec.europa.eu/consumers/odr.</p>
<p><b>13. Vyššia moc</b></p>
<p>Nezodpovedáme za akékoľvek meškanie alebo nesplnenie našich povinností podľa týchto Podmienok, ak je spôsobené okolnosťami mimo našej primeranej kontroly, vrátane prírodných katastrof, pandémií, opatrení vlády, výpadkov dodávateľského reťazca alebo zlyhaní prepravcov.</p>
<p><b>14. Rozhodné právo a príslušnosť</b></p>
<p>Tieto Podmienky sa riadia právnym poriadkom Slovenskej republiky. Akékoľvek spory budú riešené príslušnými súdmi SR. Ak ste spotrebiteľ s bydliskom v EÚ, môžete tiež podať žalobu na súdoch vašej krajiny pobytu a vzťahujú sa na vás kógentné ustanovenia na ochranu spotrebiteľa vašej krajiny.</p>
<p><b>15. Zmeny týchto podmienok</b></p>
<p>Tieto Podmienky môžeme kedykoľvek zmeniť. Aktualizovaná verzia bude zverejnená v E-shope s novým dátumom účinnosti. Objednávky zadané pred zmenou sa riadia Podmienkami platnými v čase objednávky.</p>
<p><b>16. Oddeliťeľnosť ustanovení</b></p>
<p>Ak sa akékoľvek ustanovenie týchto Podmienok ukáže ako neplatné alebo nevymáhateľné, ostatné ustanovenia zostávajú v plnej platnosti.</p>
<p><b>17. Kontaktujte nás</b></p>
<p>V prípade otázok k týmto Podmienkam alebo vašim objednávkam:</p>
<p><b>JOINA Garden, s. r. o.</b></p>
<p>Karpatské námestie 7770/10A</p>
<p>Bratislava – mestská časť Rača 831 06</p>
<p>Slovenská republika</p>
<p><b>IČO: </b>57 313 504</p>
<p><b>E-mail: </b>support@gardenyx.eu</p>
