{% comment %} Source: GardenYX_Eshop_Zasady_Ochrany_Udajov_SK.docx {% endcomment %}
<p><b>GARDENYX</b></p>
<p><b>Zásady ochrany osobných údajov</b></p>
<p><i>E-shop (gardenyx.eu)</i></p>
<p>Dátum účinnosti: 6. marca 2026</p>
<p><b>1. Úvod</b></p>
<p>Tieto Zásady ochrany osobných údajov popisujú, ako spoločnosť JOINA Garden, s. r. o., so sídlom Karpatské námestie 7770/10A, Bratislava – mestská časť Rača 831 06, Slovenská republika, IČO: 57 313 504 („my“, „Spoločnosť“), zhromažduje, používa, uchováva a chráni vaše osobné údaje pri návšteve a nákupoch v našom internetovom obchode na gardenyx.eu („E-shop“).</p>
<p>Zaväzujeme sa chrániť vaše súkromie v súlade so všeobecným nariadením o ochrane údajov (EÚ) 2016/679 („GDPR“) a príslušnou slovenskou legislatívou.</p>
<p><b>2. Prevádzkovateľ</b></p>
<p><b>Spoločnosť: </b>JOINA Garden, s. r. o.</p>
<p><b>Adresa: </b>Karpatské námestie 7770/10A, Bratislava – mestská časť Rača 831 06, Slovenská republika</p>
<p><b>IČO: </b>57 313 504</p>
<p><b>E-mail: </b>privacy@gardenyx.eu</p>
<p><b>3. Osobné údaje, ktoré zhromažďujeme</b></p>
<p><b>3.1 Registračné údaje</b></p>
<ul>
  <li>Celé meno</li>
  <li>E-mailová adresa</li>
  <li>Telefónne číslo (ak je poskytnuté)</li>
  <li>Heslo (uložené v hašovanej forme)</li>
</ul>
<p><b>3.2 Objednávkové a transakčné údaje</b></p>
<ul>
  <li>Fakturačná adresa</li>
  <li>Dodacia adresa</li>
  <li>História objednávok (produkty, množstvá, ceny)</li>
  <li>Typ platobnej metódy (značka karty, posledné 4 číslice)</li>
  <li>Stav objednávky a sledovacie informácie</li>
</ul>
<p><b>3.3 Komunikačné údaje</b></p>
<ul>
  <li>Korešpondencia so zákazníckou podporou</li>
  <li>Recenzie alebo spätná väzba na produkty</li>
</ul>
<p><b>3.4 Technické údaje o prehliadaní</b></p>
<ul>
  <li>IP adresa</li>
  <li>Typ a verzia prehliadača</li>
  <li>Operačný systém</li>
  <li>Odkazujúca webová stránka</li>
  <li>Navštívené stránky a čas strávený na nich</li>
  <li>Identifikátory zariadenia</li>
</ul>
<p><b>4. Ako používame vaše údaje</b></p>
<ul>
  <li><b>Vybavenie objednávok: </b>na spracovanie, odoslanie a doručenie vašich objednávok rastlinných hnojív</li>
  <li><b>Správa účtu: </b>na vytvorenie a správu vášho zákazníckeho účtu</li>
  <li><b>Spracovanie platieb: </b>na spracovanie platieb cez našich poskytovateľov platobných služieb</li>
  <li><b>Komunikácia: </b>na odpovede na otázky, potvrdenia objednávok, informácie o dodaní</li>
  <li><b>Zákonné povinnosti: </b>na splnenie daňových, účtovných a iných zákonných požiadaviek</li>
  <li><b>Prevencia podvodov: </b>na detekciu a prevenciu podvodných transakcií</li>
  <li><b>Marketing: </b>na zasielanie propagačných oznámení (len s vaším výslovným súhlasom)</li>
  <li><b>Zlepšovanie webovej stránky: </b>na analýzu používania a zlepšenie E-shopu</li>
</ul>
<p><b>4.1 Právny základ spracovania</b></p>
<ul>
  <li><b>Plnenie zmluvy (čl. 6 ods. 1 písm. b)): </b>spracovanie objednávok a správa účtu</li>
  <li><b>Zákonná povinnosť (čl. 6 ods. 1 písm. c)): </b>daňové záznamy, účtovníctvo a fakturácia</li>
  <li><b>Súhlas (čl. 6 ods. 1 písm. a)): </b>marketingová komunikácia a nepovinné cookies</li>
  <li><b>Oprávnené záujmy (čl. 6 ods. 1 písm. f)): </b>prevencia podvodov, analytika a zlepšovanie služieb</li>
</ul>
<p><b>5. Služby tretích strán</b></p>
<ul>
  <li><b>Poskytovatelia platieb: </b>na bezpečné spracovanie platieb. Úplné údaje o platobnej karte neukladáme.</li>
  <li><b>Prepravci a logistika: </b>na doručenie objednávok (meno, dodacia adresa, telefónne číslo)</li>
  <li><b>E-mailové služby: </b>na zasielanie transakčných a marketingových e-mailov</li>
  <li><b>Analytika: </b>na analýzu návštevnosti a používania (napr. Google Analytics)</li>
  <li><b>Hosting: </b>na prevádzku infraštruktúry E-shopu</li>
</ul>
<p>Vaše osobné údaje nepredávame žiadnej tretej strane.</p>
<p><b>6. Medzinárodné prenosy údajov</b></p>
<p>Niektorí poskytovatelia služieb môžu spracovávať údaje mimo EHP. V takýchto prípadoch zabezpečujeme primerané záruky, ako napr. štandardné zmluvné doložky schválené Európskou komisiou.</p>
<p><b>7. Doba uchovávania údajov</b></p>
<ul>
  <li><b>Údaje o účte: </b>počas trvania účtu plus 30 dní po vymazaní</li>
  <li><b>Objednávkové a transakčné údaje: </b>10 rokov podľa slovenskej daňovej a účtovnej legislatívy</li>
  <li><b>Záznamy o marketingovom súhlase: </b>počas trvania súhlasu plus 1 rok po odvolaní</li>
  <li><b>Analytické údaje: </b>až 26 mesiacov</li>
  <li><b>Korešpondencia zákazníckej podpory: </b>3 roky po poslednej interakcii</li>
</ul>
<p><b>8. Bezpečnosť údajov</b></p>
<p>Implementujeme primerané technické a organizačné opatrenia na ochranu vašich údajov vrátane šifrovaných pripojení (HTTPS/TLS), bezpečného spracovania platieb, obmedzených prístupových kontrol a pravidelných bezpečnostných auditov.</p>
<p><b>9. Súbory cookies</b></p>
<ul>
  <li><b>Nevyhnutné cookies: </b>potrebné na fungovanie E-shopu (košík, relácia, autentifikácia). Nedá sa ich vypnúť.</li>
  <li><b>Analytické cookies: </b>na pochopenie interakcie návštevníkov (napr. Google Analytics). Umiestnené len s vaším súhlasom.</li>
  <li><b>Marketingové cookies: </b>na zobrazovanie relevantných reklám. Umiestnené len s vaším súhlasom.</li>
</ul>
<p>Preferencie cookies môžete spravovať cez banner súhlasu s cookies alebo v nastaveních prehliadača.</p>
<p><b>10. Vaše práva podľa GDPR</b></p>
<ul>
  <li><b>Právo na prístup (čl. 15): </b>získať kópiu vašich osobných údajov</li>
  <li><b>Právo na opravu (čl. 16): </b>opraviť nesprávne alebo neúplné údaje</li>
  <li><b>Právo na vymazanie (čl. 17): </b>požiadať o vymazanie vašich údajov</li>
  <li><b>Právo na obmedzenie (čl. 18): </b>obmedziť spracovanie za určitých okolností</li>
  <li><b>Právo na prenositeľnosť (čl. 20): </b>získať údaje v strojovo čitateľnom formáte</li>
  <li><b>Právo namietať (čl. 21): </b>namietať proti spracovaniu na základe oprávnených záujmov alebo priameho marketingu</li>
  <li><b>Právo odvolať súhlas: </b>kedykoľvek bez vplyvu na predchádzajúce spracovanie</li>
</ul>
<p>Na uplatnenie práv nás kontaktujte na privacy@gardenyx.eu. Odpovieme do 30 dní. Máte tiež právo podať sťažnosť na Úrad na ochranu osobných údajov SR.</p>
<p><b>11. Súkromie detí</b></p>
<p>E-shop nie je určený pre deti mladšie ako 16 rokov. Vedome nezhromažďujeme osobné údaje od detí. Ak si myslíte, že nám dieťa poskytlo osobné údaje, kontaktujte nás na privacy@gardenyx.eu.</p>
<p><b>12. Zmeny týchto zásad</b></p>
<p>Tieto Zásady môžeme priebežne aktualizovať. O podstatných zmenách vás budeme informovať e-mailom alebo oznámením na webovej stránke.</p>
<p><b>13. Kontaktujte nás</b></p>
<p>V prípade otázok k týmto Zásadám:</p>
<p><b>JOINA Garden, s. r. o.</b></p>
<p>Karpatské námestie 7770/10A</p>
<p>Bratislava – mestská časť Rača 831 06</p>
<p>Slovenská republika</p>
<p><b>E-mail: </b>privacy@gardenyx.eu</p>
