{% comment %} Source: GardenYX_Eshop_ASZF_HU.docx {% endcomment %}
<p><b>GARDENYX</b></p>
<p><b>Általános Szerződési Feltételek</b></p>
<p><i>E-shop (gardenyx.eu)</i></p>
<p>Érvényes: 2026. március 6.</p>
<p><b>1. Általános rendelkezések</b></p>
<p>Jelen Felhasználási Feltételek ("Feltételek") szabályozzák az online áruház használatát a gardenyx.eu webhelyen ("E-shop") és az ott kínált termékek megvásárlását. Az E-shopot a JOINA Garden, s. r. o. üzemelteti, amely a Karpatské námestie 7770/10A, Bratislava – mestská časť Rača 831 06, Szlovák Köztársaság, IČO: 57 313 504 címen bejegyzett szervezet ("Eladó", "mi", "nekünk").</p>
<p>Az E-shopban történő megrendelés leadásával Ön ("Vásárló", "Ön") elfogadja jelen Feltételeket. Kérjük, olvassa el azokat figyelmesen a vásárlás előtt.</p>
<p><b>2. Termékek</b></p>
<p>Az E-shop növénytápszereket és kapcsolódó kertészeti termékeket kínál ("Termékek"). Az összes terméket a megfelelő termékoldalon leírják, beleértve a főbb jellemzőiket, összetételüket, használati útmutatóikat és áraikat.</p>
<p>A termékek képei illusztratív jellegűek és kisebb mértékben eltérhetnek a valódi terméktől. Ésszerű erőfeszítéseket teszünk a Termékek pontos bemutatásáért, de nem garantáljuk, hogy a leírások vagy képek teljesen hibamentesek.</p>
<p><b>3. Rendelés és szerződéskötés</b></p>
<p><b>3.1 Rendelés leadása</b></p>
<p>Megrendelés leadásához válassza ki a kívánt Termékeket, adja hozzá őket a kosárhoz, adja meg a szükséges szállítási és számlázási adatokat, válassza ki a fizetési módot, és erősítse meg megrendelését.</p>
<p>A megrendelés benyújtásával Ön kötelező ajánlatot tesz a kiválasztott Termékek megvásárlására. Mi e-mailben igazoljuk a megrendelés kézhezvételét ("Megrendelés-megerősítés"). A vásárlási szerződés akkor köttetik meg, amikor szállítjuk a Termékeket és küldjük a szállítás-megerősítő e-mailt.</p>
<p><b>3.2 Megrendelés elutasítása</b></p>
<p>Fenntartjuk a jogot bármely megrendelést elutasítani vagy törölni, ha a Termékek nem érhetők el, árdöntési vagy termékkörnyezeti hiba van, vagy gyanúsnak tartjuk a csalárd tevékenységet. Ilyen esetben értesítjük Önt, és teljes visszatérítést nyújtunk, ha a fizetés már feldolgozták.</p>
<p><b>4. Árak és fizetés</b></p>
<p><b>4.1 Árak</b></p>
<p>Az E-shopban megjelenített összes ár tartalmazza a vonatkozó hozzáadottérték-adót (ÁFA), hacsak másként nem kerül feltüntetésre. A szállítási költségeket külön számítják ki és mutatják a megrendelés megerősítése előtt.</p>
<p><b>4.2 Fizetési módok</b></p>
<p>A vásárláskor a megrendelés idején elérhetőnek tartott fizetési módokat fogadjuk el. A fizetés a megrendelés leadásakor esedékes, hacsak másként nem kerül meghatározásra. Az összes fizetést biztonságos harmadik féltől származó fizetési szolgáltatók dolgozzák fel.</p>
<p><b>4.3 Számlázás</b></p>
<p>Az ÁFA-számla elektronikusan kerül küldésre a megrendelés szállításakor. A számla a vásárlás bizonyítéka és szükséges a jótállási igények előterjesztéséhez.</p>
<p><b>5. Szállítás</b></p>
<p><b>5.1 Szállítási terület</b></p>
<p>Az E-shopban felsorolt országokba szállítunk a megrendelés idején. A szállítási területek és a kapcsolódó szállítási díjak előzetes értesítés nélkül módosulhatnak.</p>
<p><b>5.2 Szállítási idő</b></p>
<p>A becsült szállítási időt az E-shopban és a Megrendelés-megerősítésben mutatják. A szállítási idők becslések és nem garantáltak. Késedelmek előfordulhatnak az ellenőrzésünkön kívül eső okok miatt (pl. fuvarozó késedelme, vámeljárások). Tájékoztatjuk Önt az esetleges jelentős késedelmekről.</p>
<p><b>5.3 Kárveszély átszállása</b></p>
<p>A fogyasztói vásárlásoknál a Termékek veszteségének vagy sérülésének kockázata Önre száll át a szállítástól. Ha saját fuvarszállítót választ (nem az általunk kínáltat), a kockázat átszáll a fuvarozónak történő átadáskor.</p>
<p><b>5.4 Átvételi ellenőrzés</b></p>
<p>Kérjük, vizsgálja meg a Termékeket szállítás után. Ha a csomagolásban vagy a Termékekben sérülést észlel, jegyezze a szállítási bizonylatban és forduljon hozzánk 48 órán belül a support@gardenyx.eu címen.</p>
<p><b>6. Elállási jog (fogyasztói vásárlások)</b></p>
<p><b>6.1 14 napos elállási idő</b></p>
<p>Ha Ön fogyasztónak minősül (a személyes felhasználásra vásárló természetes személy), a 2011/83/EU számú EU-irányelv és a Szlovák Köztársaság 102/2014. évi törvényének megfelelően az átvételtől számított 14 napon belül, ok nélkül jogosult a vásárlási szerződéstől elállni.</p>
<p><b>6.2 Elállás módja</b></p>
<p>Elállási jogának gyakorlásához küldjön egyértelmű nyilatkozatot (pl. e-mailben a support@gardenyx.eu címre) a 14 napos időszak lejárta előtt. Használhatja a weboldalunkon elérhető elállási nyomtatványt, de nem kötelező.</p>
<p><b>6.3 Elállás következményei</b></p>
<p>Az érvényes elállás esetén visszatérítjük az Öntől kapott összes fizetést, beleértve a szabványos szállítási költségeket, az elállási nyilatkozat kézhezvételétől számított 14 napon belül. Visszatarthatjuk a visszatérítést, amíg meg nem kapjuk a visszaküldött Termékeket vagy a szállítás bizonyítékát. Ön viseli a Termékek visszaküldésének közvetlen költségeit.</p>
<p><b>6.4 Kivételek</b></p>
<p>Az elállási jog nem vonatkozik a következőkre:</p>
<ul>
  <li>Nyitott Termékekre, amelyeket higiéniai vagy egészségvédelmi okokból nem lehet visszaküldeni (pl. megnyitott műtrágya-csomag, amely már nem lezárt)</li>
  <li>Termékekre, amelyeket a szállítás után szétválaszthatatlanul összekevertek más termékekkel</li>
  <li>Gyorsan romlásnak kitett vagy gyorsan lejáró Termékekre</li>
</ul>
<p><b>7. Szavatosság és reklamáció</b></p>
<p><b>7.1 Törvényes szavatosság</b></p>
<p>Az összes, fogyasztónak értékesített Terméket a szállítástól számított 24 hónapos jótállási időszak jár a Szlovák Polgári Törvénykönyv és a Fogyasztóvédelemről szóló 250/2007. évi törvény szerint.</p>
<p><b>7.2 Szavatossági fedezet</b></p>
<p>A jótállás az anyagi, gyártási vagy összetételi hibákat fedi le, amelyek a szállítás időpontjában jelen voltak. A jótállás nem fedi le a nem megfelelő tárolásból, a termékkívánalmakkal ellentétes használatból vagy a szokásos elhasználódásból eredő hibákat.</p>
<p><b>7.3 Reklamáció benyújtása</b></p>
<p>Jótállási igényt nyújtson be a support@gardenyx.eu címen, megrendelési számával, a hiba leírásával és támogató fotók csatolásával, ha rendelkezésre áll. A bejegyzett igénytől számított 30 napon belül a vonatkozó jogszabálynak megfelelően rendezzük az igényt.</p>
<p><b>7.4 Jogorvoslatok</b></p>
<p>A hiba jellegétől függően Ön jogosult a javításra, csere, ésszerű ár-kedvezmény vagy teljes visszatérítésre a vonatkozó fogyasztóvédelmi jogszabályzat szerint.</p>
<p><b>8. Termékbiztonság és használat</b></p>
<p>A növénytápszereket és a kapcsolódó termékeket a termék címkéjén és csomagolásán feltüntetett utasítások szerint kell használni. Nem vagyunk felelősek a Termékek nem megfelelő használatából, tárolásából vagy alkalmazásából eredő sérülésekért.</p>
<p>Egyes Termékek az 1107/2009. számú (EC) rendelet vagy a 2019/1009. számú (EU) rendelet szerint növényvédelmi szereknek vagy műtrágyáknak minősülhetnek. Ahol alkalmazható, a Termékek megfelelnek a vonatkozó biztonsági adatlapok követelményeinek.</p>
<p>Tartson minden Terméket a gyermekek és háziállatok elérésétől távol. Véletlen lenyelés vagy kitettség esetén kövesse a termék címkéjén szereplő utasításokat, és szükség esetén kérjen orvosi ellátást.</p>
<p><b>9. Vásárlói fiók</b></p>
<p>Az E-shopban hozhat létre fiókot a jövőbeli vásárlások megkönnyítéséhez. Ön felelős a bejelentkezési adatainak szigorú bizalmas kezeléséért. Fenntartjuk a jogot a Feltételeket megsértő fiókok felfüggesztésére vagy törlésére.</p>
<p><b>10. Szellemi tulajdon</b></p>
<p>Az E-shopban található összes tartalom, beleértve a termékleirásokat, képeket, grafikákat, logókat és védjegyeket, a JOINA Garden, s. r. o. tulajdonában van vagy az általa licencelt, és az alkalmazandó szellemi tulajdon törvények által védetted. Az előzetes írásos hozzájárulásunk nélkül nem másolhatja le, terjesztheti vagy kereskedelmi célokra nem felhasználhatja fel a tartalmat.</p>
<p><b>11. Felelősségkorlátozás</b></p>
<p>A törvény által megengedett maximális mértékben és az Ön kötelező fogyasztói jogai korlátozása nélkül:</p>
<ul>
  <li>Az E-shop és tartalma az "ésszerűen" kerül biztosított, a törvény által előírt jótálláson túlmutató jótállás nélkül.</li>
  <li>Nem vagyunk felelősek az E-shop vagy a Termékek használatából eredő közvetett, mellékelt vagy következményes károkért.</li>
  <li>Az igényekre vonatkozó teljes felelősségünk nem haladja meg az igényt okozó Termékek értékét.</li>
</ul>
<p>Semmi ezekben a Feltételekben nem zárja ki vagy korlátozza felelősségünket a halál vagy személyi sérülés miatt okozott sérülésekért, amelyek gondatlanságunkból, csalárd tevékenységből vagy az alkalmazandó törvény szerint nem zárható ki a felelősség.</p>
<p><b>12. Alternatív vitarendezés</b></p>
<p>Ha Ön fogyasztónak minősül és nem elégedett azzal, ahogy reklamációját kezeltük, jogosult az alternatív vitarendezésre irányuló javaslatot benyújtani a Szlovák Kereskedelmi Ellenőrzéshez (Slovenská obchodná inšpekcia, SOI) vagy az EU Online Vitarendezési platformot használni a https://ec.europa.eu/consumers/odr címen.</p>
<p><b>13. Vis maior</b></p>
<p>Nem felelünk az ebben a Feltételekben foglalt kötelességeink teljesítésének késedelméért vagy elmulasztásáért, ha az az ellenőrzésünkön kívül eső körülmények miatt létrejön, beleértve a természeti katasztrófákat, járványokat, kormányzati intézkedéseket, ellátási lánc zavarokat vagy fuvarozó hibákat.</p>
<p><b>14. Alkalmazandó jog és illetékesség</b></p>
<p>Jelen Feltételek a Szlovák Köztársaság jogáról vonatkoznak. Bármely vita a Szlovák Köztársaság illetékes bíróságai által kerül rendezésre. Ha Ön az EU-ban lakó fogyasztónak minősül, az Ön beleegyezésével bírósághoz fordulhat az EU-tagállam bíróságaihoz, és az Ön helyi joga által előírt kötelező fogyasztóvédelmi rendelkezésekből profitál.</p>
<p><b>15. Feltételek módosítása</b></p>
<p>Bármikor módosíthatjuk a Feltételeket. A frissített verzió az E-shopban kerül közzétételre az új érvényes dátummal. A módosítás előtt leadott megrendelésekre a megrendelés idején érvényes Feltételek vonatkoznak.</p>
<p><b>16. Részleges érvénytelenség</b></p>
<p>Ha a Feltételek bármely rendelkezése érvénytelenek vagy végrehajthatónak találtatnak, a többi rendelkezés teljes erővel és hatályban marad.</p>
<p><b>17. Kapcsolat</b></p>
<p>Bármilyen kérdésben vagy kifogásban ezekre a Feltételekre vagy megrendelésekre:</p>
<p><b>JOINA Garden, s. r. o.</b></p>
<p>Karpatské námestie 7770/10A</p>
<p>Bratislava – mestská časť Rača 831 06</p>
<p>Szlovák Köztársaság</p>
<p><b>IČO: </b>57 313 504</p>
<p><b>E-mail: </b>support@gardenyx.eu</p>
