{% comment %} Source: GardenYX_Eshop_Adatvedelmi_Iranyelvek_HU.docx {% endcomment %}
<p><b>GARDENYX</b></p>
<p><b>Adatvédelmi irányelvek</b></p>
<p><i>E-shop (gardenyx.eu)</i></p>
<p>Hatálybalépés dátuma: 2026. március 6.</p>
<p><b>1. Bevezetés</b></p>
<p>Jelen Adatvédelmi Irányelvek leírják, hogy a JOINA Garden, s. r. o., székhely: Karpatské námestie 7770/10A, Bratislava – mestská časť Rača 831 06, Szlovák Köztársaság, IČO: 57 313 504 (a továbbiakban: 'mi', 'nós', 'miénk', 'Vállalat') hogyan gyűjti össze, használja, tárja és védi személyes adatait, amikor ellátogat online boltunkba (gardenyx.eu) és vásárlásokat végez (az 'E-shop').</p>
<p>Elkötelezettek vagyunk az adatvédelmi törvények betartására az Európai Unió 2016/679 számú Általános Adatvédelmi Rendeletének (az 'GDPR') és a vonatkozó szlovák adatvédelmi jogszabályok megfelelően.</p>
<p><b>2. Adatkezelő</b></p>
<p><b>Vállalat: </b>JOINA Garden, s. r. o.</p>
<p><b>Cím: </b>Karpatské námestie 7770/10A, Bratislava – mestská časť Rača 831 06, Szlovák Köztársaság</p>
<p><b>IČO: </b>57 313 504</p>
<p><b>E-mail: </b>privacy@gardenyx.eu</p>
<p><b>3. Az összegyűjtött személyes adatok</b></p>
<p><b>3.1 Regisztrációs és fiók adatok</b></p>
<ul>
  <li>Teljes név</li>
  <li>E-mail cím</li>
  <li>Telefonszám (ha megadva)</li>
  <li>Jelszó (titkosított formában tárolt)</li>
</ul>
<p><b>3.2 Rendelési és tranzakciós adatok</b></p>
<ul>
  <li>Számlázási cím</li>
  <li>Szállítási cím</li>
  <li>Rendelési előzmények és részletek (megvásárolt termékek, mennyiségek, árak)</li>
  <li>Fizetési módszer típusa (kártyamárka, utolsó 4 számjegy csak azonosítási célra)</li>
  <li>Rendelés státusza és nyomkövetési információ</li>
</ul>
<p><b>3.3 Kommunikációs adatok</b></p>
<ul>
  <li>Ügyfélszolgálati levelezés (e-mailek, kapcsolatfelvételi űrlap üzenetei)</li>
  <li>Termékkritikák vagy visszajelzések, amelyeket beküld</li>
</ul>
<p><b>3.4 Technikai és böngészési adatok</b></p>
<ul>
  <li>IP-cím</li>
  <li>Böngésző típusa és verziója</li>
  <li>Operációs rendszer</li>
  <li>Hivatkozó weboldal</li>
  <li>Meglátogatott oldalak és oldalon töltött idő</li>
  <li>Eszközazonosítók</li>
</ul>
<p><b>3.5 Cookie adatok</b></p>
<p>Sütiket és hasonló technológiákat használunk, ahogyan ezt a jelen Adatvédelmi Irányelvek 9. szakaszában leírjuk.</p>
<p><b>4. Az adatok felhasználása</b></p>
<p>Személyes adatait a következő célokra dolgozzuk fel:</p>
<ul>
  <li><b>Megrendelés teljesítése: </b>a szállított és kiszállított megrendelések feldolgozása növényi műtrágyákhoz és kapcsolódó termékekhez</li>
  <li><b>Fiók kezelése: </b>ügyfélfiók létrehozása és kezelése</li>
  <li><b>Fizetés feldolgozása: </b>kifizetések feldolgozása fizetési szolgáltatóinkon keresztül</li>
  <li><b>Ügyfélkommunikáció: </b>kérdésekre válaszadás, rendelésmegerősítések, szállítási frissítések és szállítási értesítések küldése</li>
  <li><b>Jogi kötelezettségek: </b>adózási, könyvelési és egyéb jogi követelmények teljesítése</li>
  <li><b>Csalás megelőzése: </b>visszaélésekből eredő tranzakciók felderítése és megelőzése</li>
  <li><b>Marketing: </b>promóciós kommunikáció a termékeinkről (csak kifejezett hozzájárulásával)</li>
  <li><b>Weboldal fejlesztése: </b>a weboldal használatának elemzése és az E-shop felhasználói élményének javítása</li>
</ul>
<p><b>4.1 Az adatkezelés jogi alapja</b></p>
<ul>
  <li><b>Szerződés teljesítése (6. cikk (1) b) pont): </b>megrendelések feldolgozása és fiók kezelése</li>
  <li><b>Jogi kötelezettség (6. cikk (1) c) pont): </b>adónyilvántartások, könyvelés és számlázási követelmények</li>
  <li><b>Hozzájárulás (6. cikk (1) a) pont): </b>marketing kommunikáció és nem alapvető sütik. Hozzájárulása bármikor visszavonható.</li>
  <li><b>Jogos érdek (6. cikk (1) f) pont): </b>csalás megelőzése, weboldal-elemzés és szolgáltatás-fejlesztés</li>
</ul>
<p><b>5. Harmadik fél szolgáltatások és adatmegosztás</b></p>
<p>Adatait a következő kategóriájú szolgáltatókkal oszthatjuk meg:</p>
<ul>
  <li><b>Fizetési feldolgozók: </b>biztonságos fizetési feldolgozás céljára. Nem tároljuk a teljes kártyaadatokat.</li>
  <li><b>Szállítási és logisztikai szolgáltatók: </b>megrendelések kiszállítására (név, szállítási cím, telefonszám)</li>
  <li><b>E-mail-szolgáltatók: </b>tranzakciós és marketing e-mailek küldésére</li>
  <li><b>Elemzési szolgáltatók: </b>weboldal-forgalom és felhasználási minták elemzésére (pl. Google Analytics)</li>
  <li><b>Hosting-szolgáltatók: </b>az E-shop infrastruktúrájának üzemeltetésére</li>
</ul>
<p>Személyes adatait nem adjuk el harmadik félnek. Összes szolgáltatónk adatkezelési szerződés által kötött, amely megfelel a GDPR-nak.</p>
<p><b>6. Nemzetközi adattovábbítás</b></p>
<p>Néhány szolgáltatónk az Európai Gazdasági Térség (EGT) kívül feldolgozhatja az adatokat. Ilyen esetben megfelelő garanciákat, például az Európai Bizottság által jóváhagyott Szabványszerződési Feltételeket alkalmazunk.</p>
<p><b>7. Adatmegőrzési idő</b></p>
<p>Személyes adatait a következő időtartamokra tartjuk meg:</p>
<ul>
  <li><b>Fióki adatok: </b>a fiók meglétéhez szükséges ideig, plusz 30 nap a törlés után</li>
  <li><b>Rendelési és tranzakciós adatok: </b>10 év, a szlovák adó- és számviteli jogszabályoknak megfelelően</li>
  <li><b>Marketing hozzájárulási nyilvántartások: </b>a hozzájárulás meglétéhez szükséges ideig, plusz 1 év a visszavonás után</li>
  <li><b>Weboldal-elemzési adatok: </b>legfeljebb 26 hónap</li>
  <li><b>Ügyfélszolgálati levelezés: </b>3 év az utolsó interakció után</li>
</ul>
<p><b>8. Adatbiztonság</b></p>
<p>Megfelelő technikai és szervezeti intézkedéseket hajtunk végre személyes adatai védelme érdekében, beleértve a titkosított kapcsolatokat (HTTPS/TLS), a biztonságos fizetési feldolgozást, a hozzáférési korlátozásokat és a rendszeres biztonsági értékeléseket.</p>
<p><b>9. Sütik és nyomkövetési technológiák</b></p>
<p>Az E-shop sütiket és hasonló technológiákat használ:</p>
<ul>
  <li><b>Alapvető sütik: </b>az E-shop működéséhez szükségesek (kosár, munkamenet, hitelesítés). Ezek nem letilthatók.</li>
  <li><b>Elemzési sütik: </b>annak megértéséhez, hogy a látogatók hogyan lépnek kapcsolatba weboldalunkkal (pl. Google Analytics). Csak a hozzájárulásával helyezhető el.</li>
  <li><b>Marketing sütik: </b>releváns hirdetések megjelenítésére. Csak a hozzájárulásával helyezhető el.</li>
</ul>
<p>Süti-beállításait a első látogatásnál megjelenített süti-hozzájárulási szalagban vagy böngésző-beállításokon keresztül bármikor kezelhet.</p>
<p><b>10. Jogok a GDPR szerint</b></p>
<p>Mint adatbetét, Ön a következő jogokkal rendelkezik:</p>
<ul>
  <li><b>Hozzáférési jog (15. cikk): </b>másolatot kapja az Ön által tárolt személyes adatairól</li>
  <li><b>Helyesbítési jog (16. cikk): </b>helytelen vagy hiányos adatok helyesbítése</li>
  <li><b>Törlési jog (17. cikk): </b>személyes adatok törlésének kérése</li>
  <li><b>Feldolgozás korlátozásának joga (18. cikk): </b>feldolgozás korlátozása bizonyos körülmények között</li>
  <li><b>Adathordozhatósági jog (20. cikk): </b>adatok gépi olvasható formátumban történő átvétele</li>
  <li><b>Tiltakozási jog (21. cikk): </b>tiltakozás a jogos érdeken alapuló feldolgozás vagy közvetlen marketing alapján</li>
  <li><b>Hozzájárulás visszavonásának joga: </b>hozzájárulása bármikor visszavonható az előzetes feldolgozás érintése nélkül</li>
</ul>
<p>Jogai gyakorlásához forduljon a privacy@gardenyx.eu e-mail címre. 30 napon belül válaszolunk. Jogában áll panaszt benyújtani a Szlovák Köztársaság Személyes Adatok Védelméről Felelős Hivatal Személyes Adatok Védelméről Felelős Hivatalához (Úrad na ochranu osobných údajov SR).</p>
<p><b>11. Gyermekek adatvédelme</b></p>
<p>Az E-shop nem irányul 16 év alatti gyermekekhez. Nem gyűjtünk tudatosan személyes adatokat gyermekektől. Ha úgy gondolja, hogy egy gyermek személyes adatokat adott meg, forduljon a privacy@gardenyx.eu e-mail címre.</p>
<p><b>12. Adatvédelmi irányelvek módosítása</b></p>
<p>Az Adatvédelmi Irányelveket időről időre frissíthetjük. Az eseti módosításokról e-mailben vagy weboldali értesítésben tájékoztatunk. A felül feltüntetett 'Hatálybalépés dátuma' azt jelzi, hogy az utolsó verzió mikor lépett hatályba.</p>
<p><b>13. Kapcsolat</b></p>
<p>Az Adatvédelmi Irányelvekkel kapcsolatos kérdésekhez vagy aggályokhoz:</p>
<p><b>JOINA Garden, s. r. o.</b></p>
<p>Karpatské námestie 7770/10A</p>
<p>Bratislava – mestská časť Rača 831 06</p>
<p>Szlovák Köztársaság</p>
<p><b>E-mail: </b>privacy@gardenyx.eu</p>
